<div class="container">
    <form class="row g-3 needs-validation mt-3" novalidate>
        <div class="col-md-6">
            <label for="validationCustom01" class="form-label">Título de la votación: </label>
            <input #tituloVotacion type="text" class="form-control" id="tituloVotacion" value=""
                placeholder="Ejemplo: Comunidad de vecinos C/Carlos III, Nº3 . . ." required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom01" class="form-label">Límite de tiempo (en dias): </label>
            <input #limiteTiempo placeholder="1" type="number" class="form-control" id="limiteTiempo" value="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom01" class="form-label">Ingrese las candidaturas: </label>
            <input #txtCandidato placeholder="Ejemplo/s: Poner piscina / Nuevo Presidente" type="text"
                class="form-control" required maxlength="35">
            <button class="btn btn-warning mt-4 col-md-5" (click)="agregarCandidato(txtCandidato.value)">Añadir
                Candidatura</button>

            <ul class="list-group mt-2" *ngIf="pulsadoAgregar_candidato; else noAnadidoCandidato">
                <div *ngFor="let candidato of candidatos">
                    <li class="list-group-item">{{candidato}} <button class="btn btn-danger mx-2"
                            (click)="eliminarCandidato(candidato)">Eliminar</button>
                    </li>

                </div>
            </ul>
            <ng-template #noAnadidoCandidato> <br><br> No se ha añadido ningún candidato</ng-template>

        </div>
        <div class="col-md-6">
            <label for="validationCustom01" class="form-label">Ingrese los correos: </label>
            <input #txtCorreo placeholder="Ejemplo/s: example@example.com" type="email" name="email"
                class="form-control" required maxlength="65" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <button class="btn btn-warning mt-4 col-md-5 mx-2" (click)="agregarCorreo(txtCorreo.value)">Añadir
                Correo</button>
            <button class="btn btn-warning mt-4 col-md-5" (click)="subirArchivoXLS()">Subir Archivo (.xls)</button>
            <input type="file" id="inputArchivo" style="display: none" accept=".xlsx, .xls"
                (change)="cargarArchivo($event)"><br>

            <ul class="list-group mt-2" *ngIf="pulsadoAgregar_correo; else noAnadidoCorreo">
                <div *ngFor="let correo of correos">
                    <li class="list-group-item">{{correo}} <button class="btn btn-danger mx-2">Eliminar</button> </li>
                </div>
            </ul>
            <ng-template #noAnadidoCorreo> <br> No se ha añadido ningún correo</ng-template>

        </div>
        <div class="col-12 mt-5">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck1" required>
                <label class="form-check-label" for="invalidCheck1">
                    Estoy de acuerdo con los términos y condiciones
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                <label class="form-check-label" for="invalidCheck2">
                    Guardar esta votación
                </label>
            </div>
        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit"
                (click)="anadirVotacion(txtCandidato.value, txtCorreo.value, tituloVotacion.value, limiteTiempo.value)">Añadir
                votación a la Blockchain y COMENZAR</button>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Agregar otra votación</button>
        </div>
    </form>
</div>