<div class="container">
    <form class="row g-3 needs-validation mt-3" novalidate>
        <div class="col-md-6">
            <label for="validationCustom01" class="form-label">Título de la votación: </label>
            <input type="text" class="form-control" id="titulo_votacion" value=""
                placeholder="Ejemplo: Comunidad de vecinos C/Carlos III, Nº3 . . ." required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom01" class="form-label">Límite de tiempo (en dias): </label>
            <input placeholder="1" type="number" class="form-control" id="validationCustom01" value="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom01" class="form-label">Ingrese las candidaturas: </label>
            <input #txtCandidato placeholder="Ejemplo/s: Poner piscina / Nuevo Presidente" type="text"
                class="form-control" required maxlength="35">
            <button class="btn btn-warning mt-2" (click)="agregarCandidato(txtCandidato.value)">+</button><br>

            <ul class="list-group" *ngIf="pulsadoAgregar_candidato; else noAnadido">
                <div *ngFor="let candidato of candidatos">
                    <li class="list-group-item">{{candidato}}</li>
                </div>
            </ul>
            <ng-template #noAnadido> <br>No se ha añadido ningún candidato</ng-template>

        </div>
        <div class="col-md-6">
            <label for="validationCustom01" class="form-label">Ingrese los correos: </label>
            <input #txtCorreo placeholder="Ejemplo/s: example@example.com" type="email" name="email"
                class="form-control" required maxlength="65" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <button class="btn btn-warning mt-2" (click)="agregarCorreo(txtCorreo.value)">+</button><br>

            <ul class="list-group" *ngIf="pulsadoAgregar_correo; else noAnadido">
                <div *ngFor="let correo of correos">
                    <li class="list-group-item">{{correo}}</li>
                </div>
            </ul>
            <ng-template #noAnadido> <br>No se ha añadido ningún candidato</ng-template>

        </div>
        <div class="col-12 mt-5">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Estoy de acuerdo con los términos y condiciones
                </label>
            </div>
        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit" routerLink="/codigo-votacion">Añadir votación a la Blockchain
                y
                COMENZAR</button>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Agregar otra votación</button>
        </div>
    </form>
</div>