<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Introduce el título de la votación: </label>
        <input type="text" class="form-control" id="validationCustom01" value="" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Introduce el código de la votación: </label>
        <input type="text" class="form-control" id="validationCustom01" value="" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    
    <div class="col-12">
        <button class="btn btn-primary" type="submit" routerLink="/grafica-resultados">Ver los resultados de la votación</button>
    </div>
</form>
