<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
        <label for="titulo" style="margin-left: 310px;" class="form-label col-md-6">Introduce el título de
            la votación: </label>
        <input #titulo type="text" style="margin-left: 210px;" class="form-control" id="titulo" value="" required>
    </div>
    <div class="col-md-4">
        <label for="codigo" style="margin-left: 330px;" class="form-label col-md-6">Introduce el código de
            la
            votación: </label>
        <input #codigo type="text" style="margin-left: 230px;" class="form-control" id="codigo" value="" maxlength="64"
            required>
    </div>

    <div class="col-12 mt-4">
        <button class="btn btn-primary" type="submit" (click)="validar(titulo.value, codigo.value)">Ver los
            resultados de la
            votación</button>
    </div>
</form>